<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="blog about foods, career, and software design">
    <meta name="description" content="blog about foods, career, and software design">

    <link href="{{ "style.css" | absLangURL }}" rel="stylesheet">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <title>{{ block "title" . }}{{ end }}</title>
  </head>
  <body>
    <div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-8">
      <h1><a href="{{ relURL "/" }}">{{ .Site.Title }}</a></h1>
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
